*
!.gitignore
!/.github
!/.github/workflows
!/.github/workflows/main.yml
!changelog.json
!LICENSE
!MIGRATION_PLAN.md
!README.md
!.oxfmtrc.json
!.oxlintrc.json
!package.json
!package-lock.json
!tsconfig.json
!/env
!/env/*.example
!/.docker
!/.docker/*.yml
!/.docker/dev.dockerfile
!/.docker/production.dockerfile
!/.ansible
!/.ansible/main.yml
!/.ansible/roles
!/.ansible/roles/docker_restart
!/.ansible/roles/docker_restart/tasks
!/.ansible/roles/docker_restart/tasks/main.yml
!/.ansible/roles/git_pull
!/.ansible/roles/git_pull/tasks
!/.ansible/roles/git_pull/tasks/main.yml
!/.mongo
!/.mongo/.gitkeep
!/.backups
!/.backups/.gitkeep
!/bot
!/bot/*.js
!/bot/i18n
!/bot/i18n/*.js
!/bot/models
!/bot/models/*.js
!/bot/commands
!/bot/commands/*.js
!/bot/helpers
!/bot/helpers/*.js
!/bot/scenes
!/bot/scenes/*.js
!/bot/listeners
!/bot/listeners/*.js
!/test
!/test/*.cjs
!/types
!/types/*.d.ts
