BOT_TOKEN=""
# MONGODB_URI="mongodb://<USERNAME>:<PASSWORD>@<IP>:<PORT>/<DATABASE>"
MONGODB_URI="mongodb://127.0.0.1:27017/princess"
ADMIN_ID=""
AUTHOR_TWITTER_LINK="https://twitter.com/giraffender"
WISHLIST_TG_URL="https://t.me/wishlist_ua_bot"
CHATGPT_GITHUB_REPO_URL="https://github.com/serhii-chernenko/chatgpt-telegram-bot"
TG_CHANNEL="https://t.me/serhii_chernenko"
TG_GROUP="https://t.me/serhii_chernenko_chat"
YT_CHANNEL="https://youtube.com/@serhii.chernenko"
MAIL="contact@chernenko.digital"